#contact5{
    #contact2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 80vh;
        margin-top: 150px;
        > .contact{
            min-width: 80%;
            > form{
                width: 100%;
                background-color: #FFF;
                padding: 40px;
                border-radius: 10px;
                > nav{
                    margin-bottom: 30px;
                    color: white;
                }
                > h2{

                    margin-bottom: 50px;
                    color: black;
                }
                > TextField{
                    border: 2px solid white;
                }
            }
        }
    }
    footer{
        padding: 30px;
        margin-top: 150px;
        > section{
            display: flex;
            justify-content: space-between;
            > div{
                width: 30%;
                > a{
                    margin-bottom: 20px;
                    text-decoration: none;
                    color: white;
                    display: block;
                }
                > button{
                    background-color: #135455;
                    color: #ffffff;
                    padding: 0.5rem 1.2rem;
                    border: none;
                    border-radius: 6px;
                    font-weight: 600;
                    cursor: pointer;
                    transition:  background-color 0.2s ease;
                    margin-top: 20px;
                    display: block;
                    > i{
                        margin-right: 6px;
                    }
                    &:hover{
                        background-color: #555555;
                    }
                }
            }
        }
    }
}

