#skill{
    margin-top: 120px;
    padding-left: 30px;
    margin-bottom: 100px;
    > h2{
        margin-bottom: 50px;
    }
    > li{
        color: orange;
        list-style-type: none;
        margin-bottom: 8px;
    }
    > section{
        display: flex;
        flex-direction: column;
        gap: 30px;
        > nav{
            display: flex;
            align-items: center;
            width: 95%;
            padding: 20px;
            min-height: 60px;
            border-radius: 5px;
            background-color: #0f1117;
            transition: all 1.5s;
            &:hover{
                background-color: #0f1117;
                cursor: pointer;
            }
            > h4{
                margin-right: 10px;
                letter-spacing: 2px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                > img{
                    width: 50px;
                    margin-right: 10px;
                }
            }
            > div{
                background-color: #0f1117;
                width: 100%;
                border-radius: 100px;
                padding: 0;
                > span{
                    
                }
            }
        }
    }
}
.bar {
  background: #0f1117;
  width: 100%;
  height: 30px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}
.bar span {
  display: block;
  height: 100%;
  width: 0;
  background: green;
  border-radius: 100px;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  transition: width 3s ease-in-out;
}
@media screen and (max-width:800px){
    #skill{
        > section{
            > nav{
                width: 100%;
            }
        }
    }
}