#main{
    margin-top: 100px;
    main{
        margin-top: 50px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        > section{
            > h2{
                font-size: 40px;
                margin-bottom: 10px;
                font-weight: 300;
                letter-spacing: 3px;
            }
            > h1{
                font-size: 60px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            > p {
                width: 80%;
                font-size: 1.1rem;
                line-height: 25px;
                margin-top: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            > button{
                background-color: #135455;
                color: #ffffff;
                border: none;
                border-radius: 6px;
                font-weight: 600;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                cursor: pointer;
                transition:  background-color 0.2s ease;
                margin-top: 20px;
                min-width: 180px;
                min-height: 45px;
                &:hover{
                    background-color: #455555;
                }
                > i{
                    margin-right: 7px;
                }
                + button{
                    margin-left: 20px;
                    background-color: #F2F2F2;
                    color: #134455;
                }
            }
        }
        > img{
            width: 40%;
        }
    }
    nav{
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        > aside{
            > h2{
                margin-bottom: 15px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            > p{
                line-height: 30px;
                font-size: 1.1rem;
                margin-bottom: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            > button{
                background-color: #135455;
                color: #ffffff;
                border: none;
                border-radius: 6px;
                font-weight: 600;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                cursor: pointer;
                transition:  background-color 0.2s ease;
                margin-top: 20px;
                min-width: 180px;
                min-height: 45px;
                &:hover{
                    background-color: #455555;
                }
                
            }
            > div{
                display: flex;
                flex-wrap: wrap;
            }
        }
        aside.about{
            width: 50%;
        }
        .mypic{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: top cover;
        }
    }
    figure{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px;
        > div{
            width: 27%;
            min-height: 20vh;
            box-shadow: 0px 1px 10px  rgb(57, 56, 56);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            justify-content: space-between;
            animation: animate 10s infinite;
            margin-bottom: 50px;
        }
    }
    > h2{
        margin-left: 30px;
        margin-top: 100px;
        letter-spacing: 5px;
        + #service{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 50px;
            > section{
                width: 28%;
                min-height: 50vh;
                box-shadow: 1px 5px 1px rgb(57, 56, 56);
                margin-bottom: 50px;
                > i{
                    color: #134455;
                    font-size: 2rem;
                    margin-top: 50px;
                }
                > h4{
                    margin-top: 20px;
                    color: #F2F2F2;
                    font-size: 1.3rem;
                    margin-bottom: 30px;
                }
                > p{
                    line-height: 23px;
                    letter-spacing: 1px;
                    color: #e3dfdf;
                }
            }
        }
    }
    #experince{
        margin-top: 50px;
        > section{
            display: flex;
            justify-content: end;
            padding-right: 20px;
            + section{
                justify-content: start;
                margin-left: 20px;
                
                + section{
                    justify-content: end;
                    + section{
                        justify-content: start;
                    }
                }
            }
            > aside{
                width: 50%;
                min-height: 30vh;
                background-color: #ffffff;
                padding-bottom: 20px;
                border-radius: 8px;
                > h4{
                    color: #134455;
                    margin: 30px 0px 5px 30px;
                    font-size: 1.8rem;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                > p{
                    color: black;
                    margin-left: 30px;
                    + li{
                        color: black;
                        font-style: italic;
                        margin-left: 30px;
                        margin-top: 10px;
                        list-style-type: none;
                    }
                }
                > li{
                    list-style-type: none;
                    color: black;
                    margin-left: 20px;
                    margin-bottom: 15px;
                }
                > button{
                    margin-left: 20px;
                    min-width: 300px;
                    min-height: 40px;
                    background-color: #135455;
                    color: #ffffff;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    margin-top: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 909px){
    #main{
        main{
            flex-direction: column;
            align-items: center;
            > section{
                > p{
                    width: 100%;
                }
                > button{
                    min-width: 250px;
                    min-height: 50px;
                    + button{
                        margin-left: 0px;
                        display: block;

                    }
                }
            }
            > img{
                width: 100%;
            }
            
        }
        main > img{
            margin-top: 60px;
        }
        nav.ok{
            flex-direction: column;
            align-items: center;
        }
        nav{
            > aside.about{
                width: 100%;
            }
        }
        nav aside.about{
            margin-bottom: 50px;
            > p{
                width: 100%;
            }
        }
        figure{
            flex-direction: column;
            align-items: center;
        }
        figure > div{
            margin-bottom: 100px;
            min-width: 80%;
        }
        > h2{
            + #service{
                flex-direction: column;
                > section{
                    width: 80%;
                    margin-bottom: 100px;
                    min-height: 33vh;
                    padding-bottom: 30px;
                }
            }
        }
        > #experince{
            > section{
                justify-content: center;
                align-items: center;
                padding-left: 0px;
                margin-bottom: 50px;
                padding-right: 0px;
                + section{
                    justify-content: center;
                    align-items: center;
                    margin-left: 0px;
                    > aside{
                        > button{
                            width: 90%;
                            margin-left: 5px;
                        }
                    }
                    
                    + section{

                        justify-content: center;
                        align-items: center;
                        + section{
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }
                > aside{
                    width: 90%;
                }
            }
        }
    }
    
}