#mobileNva{
    #bottom-bar{
        display: none;
    } 
}
#bottom-bar .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
}
#bottom-bar .nav-link i {
    margin-bottom: 5px;
}

#bottom-bar .nav-link.active {
  color: #ff9800; 
}

#bottom-bar .nav-link.active {
  border-bottom: 2px solid #ff9800;
  padding-bottom: 2px;
}

@media screen and (max-width:909px){
    #mobileNva{
        #bottom-bar{
            display: flex;
            justify-content: space-between;
            position: fixed;
            bottom: 0;
            width: 100%;
            min-height: 50px;
            padding-top: 10px;
            > nav{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: black;
                cursor: pointer;
                border: 2px solid transparent;
                min-width: 15%;
                > a{
                    color: white;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: 25px;
                    font-size: 13px;
                }
                
            }
        }   
    }
   
}