
#footer10{
    > section{
        width: 100%;
        min-height: 50vh;
        background-color: #135455;
        margin-top: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > h4{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 2rem;
        }
        > button{
            background-color: #ffffff;
            color: #135455;
            border: none;
            border-radius: 6px;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            cursor: pointer;
            transition:  background-color 0.2s ease;
            margin-top: 50px;
            min-width: 220px;
            min-height: 45px;
            
            &:hover{
                background-color: #455555;
                color: #ffffff;
            }
            
        }
    }
    
    > footer{
        margin-top: 50px;
        display: flex;
        justify-content: end;
        > section{
            display: flex;
            justify-content: space-around;
            width: 95%;
            gap: 10px;
            border-bottom: 1px solid gray;
            > div{
                flex: 1;
                > a{
                    margin-bottom: 15px;
                    text-decoration: none;
                    color: white;
                    display: block;
                    text-align: center;
                    font-size: 13px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    &:hover{
                        color: #135455;
                    }
                }
                > p{
                    text-align: center;
                }
                > h4{
                    text-align: center;
                    margin-bottom: 20px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                > p{
                    margin-top: 20px;
                    line-height: 22px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                > button{
                    background-color: #135455;
                    color: #ffffff;
                    padding: 0.5rem 1.2rem;
                    border: none;
                    border-radius: 6px;
                    font-weight: 600;
                    cursor: pointer;
                    transition:  background-color 0.2s ease;
                    display: block;
                    margin: 20px auto;
                    min-width: 120px;
                    > i{
                        margin-right: 6px;
                    }
                    &:hover{
                        background-color: #555555;
                    }
                }
            }
        }
    }
    > p{
        text-align: center;
        margin: 50px 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
@media screen and (max-width:909px){
    #footer10{
        > section{
            text-align: center;
            padding: 0px 10px;
        }
        > footer{
            > section{
                align-items: start;
                padding-left: 20px;
                > div{
                    width: 100%;
                    text-align: start;
                    > h4, a, p{
                        text-align: start;
                    }
                    > button{
                        margin: 20px 0px;
                    }
                }
            }
        }
        > p{
            margin-bottom: 100px;
        }
    }
}